.homepage {
  min-height: 100vh;
  grid-template-columns: 1fr;
  padding: 0 20px;

  &__header {
    grid-column: 1 / span 1;

    &__logo {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  //   description --------------
  &__description {
    margin: 50px 0 0 0;
    &__linewrapper {
      &__text {
        p {
          width: 440px;
        }
      }
    }
  }

  //   menu --------------
  &__menu {
    margin: 0 0 50px 0;
  }
}

// --------------------------------- projects

.projectpage {
  // heading

  //   -------------
  &__lists {
    &__list {
      &__wrapper {
        &__linewrapper {
          h1 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// contactpage

.contactpage {
  grid-template-columns: 1fr;
  grid-gap: 30px;

  &__heading {
    grid-column: 1 / span 1;
  }
}
